//
$pd_country: 35;

//

.Home {
  padding: 45px 0;
}

.Home_contain {
  margin: auto;
  width: var(--max-width);
}

//
.HomeHome_search_filter {
  margin-bottom: 45px;
}

.Home_search {
  width: 445px;
  max-width: 100%;
}

.Home_filter {
  width: 185px;
  max-width: 100%;
}

//
.Home_countries {
  margin: 0 -#{$pd_country}px;
}
.Home_country {
  width: 25%;
  padding: #{$pd_country}px;
}

.Home_fetching {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  width: 100%;
  height: 100%;
  background-color: var(--shadow-25);
}

// -----

.device-mobile {
  .Home {
    padding: 25px;
  }

  .Home_search_filter {
    display: block;
    margin-bottom: 25px;
  }

  .Home_filter {
    margin-top: 15px;
  }

  .Home_countries {
    display: block;
  }
  .Home_country {
    margin: auto;
    width: 100%;
    max-width: 250px;
    padding: 25px 0;
  }
}
