.Country {
  width: var(--max-width);
  padding-bottom: 45px;
  margin: auto;
}

.Country_back {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 75px 0;
  width: 125px;
  padding: 10px;
  border-radius: 4px;
  background-color: var(--bg-element);

  cursor: pointer;
  &:hover {
    opacity: 0.75;
  }
  &:active {
    transform: scale(0.95);
  }
}

//
.Country_col {
  width: 50%;
}

.Country_left {
  padding-right: 65px;
}

.Country_img {
  width: 100%;
  height: 375px;
}

//
.Country_right {
  padding-left: 65px;
}

.Country_right_col {
  width: 50%;
}

.Country_name {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 25px;
}

//
.Country_borders {
  margin-top: 50px;
}

.Country_borders_title {
  margin-right: 15px;
  white-space: nowrap;
}

.Country_borders_item {
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 5px 25px;
  border-radius: 4px;
  background-color: var(--bg-element);
  font-size: 13px;
}

// ---

.CountryTitleValue {
  padding: 5px 0;
}

// ----

.device-mobile {
  .Country {
    padding-left: 25px;
    padding-right: 25px;
  }

  .Country_back {
    margin-top: 35px;
    margin-bottom: 50px;
  }

  .Country_row {
    display: block;
  }
  .Country_col {
    width: 100%;
    padding: 0;
    margin-bottom: 35px;
  }

  .Country_right_row {
    display: block;
  }
  .Country_right_col {
    width: 100%;
    margin-bottom: 35px;
  }

  .Country_img {
    height: 250px;
  }

  .Country_borders {
    display: block;
  }
  .Country_borders_title {
    margin-bottom: 20px;
  }
}
