.Header {
  height: 75px;
  background-color: var(--bg-element);
  box-shadow: 0 1px 4px 0px var(--shadow-25);
}

.Header_row {
  margin: auto;
  width: var(--max-width);
  height: 100%;
}

.Header_title {
  font-size: 25px;
  font-weight: 700;
}

.Header_mode {
  font-weight: 600;
}

.Header_mode_img {
  margin-right: 5px;
}

// -----

.device-mobile {
  .Header {
    // height: 50px;
    padding: 0px 15px;
  }

  .Header_title {
    font-size: 17px;
  }

  .Header_mode {
    font-size: 15px;
  }
}
