.SearchBar{
  border-radius: 6px;
  background-color: var(--bg-element);
}

.SearchBar_left{
  width: 60px;
  padding-left: 10px;

  &:hover{
    opacity: 0.75;
  }
}

.SearchBar_icon_key{
  border-radius: 50%;
}

.SearchBar_ip{
  width: 100%;
  padding: 20px 10px;
  background-color: transparent;
}
